<app-loading *ngIf="isLoading"></app-loading>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <img src="./assets/Portada.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <form class="form-control" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="emailEstudiante" class="form-label">Correo Personal</label>
                            <input type="email" name="EmailEstudiante" class="form-control" id="emailEstudiante"
                                required [(ngModel)]="formData.EmailEstudiante">
                        </div>
                        <div class="mb-3">
                            <label for="modalidadPractica" class="form-label">Modalidad en la cual va desarrollar su
                                practica</label>
                            <select name="ModalidadPractica" id="modalidadPractica" class="form-select"
                                [(ngModel)]="formData.ModalidadPractica">
                                <option>Seleccionar</option>
                                <option>Pasantia</option>
                                <option>Asesoria y asistencia técnica</option>
                                <option>Práctica social</option>
                                <option>Combinación de funciones</option>
                                <option>Pasantía en Investigación</option>
                                <option value="Monitoria">Monitoria</option>
                                <option value="Cunbre emprendimiento naciente">CUNbre emprendimiento naciente</option>
                                <option value="Cunbre emprendimiento consolidado">CUNbre emprendimiento consolidado
                                </option>
                            </select><br>

                            <div *ngIf="formData.ModalidadPractica === 'Cunbre emprendimiento naciente'">
                                <div class="mb-3">
                                    <label for="rutFile" class="form-label">Soporte de RUT de su empresa o
                                        emprendimiento</label>
                                    <input accept=".pdf" class="form-control" name="RutFile" type="file" id="rutFile"
                                        (change)="onFileChange($event)">
                                </div>
                                <div class="mb-3">
                                    <label for="nombreEmprendimiento" class="form-label">Nombre de su
                                        Emprendimiento</label>
                                    <input type="text" name="NombreEmprendimiento" class="form-control"
                                        id="nombreEmprendimiento" required [(ngModel)]="formData.NombreEmprendimiento">
                                </div>
                                <div class="mb-3">
                                    <label for="nitEmprendimiento" class="form-label">NIT de su Emprendimiento</label>
                                    <input type="number" name="NitEmprendimiento" class="form-control"
                                        id="NitEmprendimiento" required [(ngModel)]="formData.NitEmprendimiento">
                                </div>
                            </div>
                            <div *ngIf="formData.ModalidadPractica === 'Cunbre emprendimiento consolidado'">
                                <div class="mb-3">
                                    <label for="rutFile" class="form-label">Soporte de RUT de su empresa o
                                        emprendimiento</label>
                                    <input accept=".pdf" class="form-control" name="RutFile" type="file" id="rutFile"
                                        (change)="onFileChange($event)">
                                </div>
                                <div class="mb-3">
                                    <label for="camaraComercioFile" class="form-label">Soporte cámara de comercio
                                        (Vigente-Emprendimiento consolidado)</label>
                                    <input accept=".pdf" class="form-control" name="CamaraComercioFile" type="file"
                                        id="CamaraComercioFile" (change)="onFileChange($event)">
                                </div>
                                <div class="mb-3">
                                    <label for="nombreEmprendimiento" class="form-label">Nombre de su
                                        Emprendimiento</label>
                                    <input type="text" name="NombreEmprendimiento" class="form-control"
                                        id="nombreEmprendimiento" required [(ngModel)]="formData.NombreEmprendimiento">
                                </div>
                                <div class="mb-3">
                                    <label for="nitEmprendimiento" class="form-label">NIT de su Emprendimiento</label>
                                    <input type="number" name="NitEmprendimiento" class="form-control"
                                        id="NitEmprendimiento" required [(ngModel)]="formData.NitEmprendimiento">
                                </div>

                            </div>

                        </div>

                        <div class="mb-3">
                            <label for="documentoIdentidadFile" class="form-label">Fotocopia legible por los dos lados
                                del documento de identidad</label>
                            <input accept=".pdf" class="form-control" name="DocumentoIdentidadFile" type="file"
                                id="documentoIdentidadFile" (change)="onFileChange($event)">
                        </div>

                        <div class="mb-3">
                            <label for="tipoidentificacion" class="form-label">Tipo De Documento</label>
                            <select name="Tipoidentificacion" id="Tipoidentificacion" class="form-select"
                                [(ngModel)]="formData.TipoIdentificacion">
                                <option>Seleccionar</option>
                                <option>CC-CEDULA DE CIUDADANIA</option>
                                <option>CE-CEDULA EXTRANJERIA</option>
                                <option>PP-PASAPORTE</option>
                                <option>PE-PERMISO ESPECIAL DE PERMANENCIA</option>
                                <option>TI-TARJETA DE IDENTIDAD</option>
                                <option>PT-PERMISO POR PROTECCION TEMPORAL</option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <label for="numeroIdentificacion" class="form-label">Número de identificación (Sin puntos ni
                                comas)</label>
                            <input type="text" name="NumeroIdentifiacion" class="form-control" id="numeroIdentificacion"
                                [(ngModel)]="formData.NumeroIdentifiacion" ng-pattern="/^\d+$/">
                        </div>


                        <div class="mb-3">
                            <label for="nombreEstudiante" class="form-label">Nombre del estudiante </label>
                            <input type="text" class="form-control" name="NombreEstudiante" id="nombreEstudiante"
                                [(ngModel)]="formData.NombreEstudiante">
                        </div>
                        <div class="mb-3">
                            <label for="periodoAcademico" class="form-label">Periodo académico en el que inscribió la
                                asignatura </label>
                            <select name="PeriodoAcademico" id="periodoAcademico" class="form-select"
                                [(ngModel)]="formData.PeriodoAcademico">
                                <option>Seleccionar</option>
                                <option>2023A</option>
                                <option>23V02</option>
                                <option>23V01</option>
                                <option>22V03</option>
                                <option>2022B</option>
                                <option>22V04</option>
                                <option>22V05</option>
                                <option>22V06</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="programaAcademico" class="form-label">Programa académico al que
                                pertenece</label>
                            <select id="programaAcademico" name="ProgramaAcademico" class="form-select"
                                [(ngModel)]="formData.ProgramaAcademico">
                                <option>Adminstración De Empresas</option>
                                <option>Adminstración De Empresas Agroindustirales</option>
                                <option>Adminstración De La Seguridad Social</option>
                                <option>Adminstración Pública</option>
                                <option>Adminstración Turística</option>
                                <option>Comunicación Social</option>
                                <option>Contaduriá Pública</option>
                                <option>Dirección y Producción De Medios Audiovisuales</option>
                                <option>Diseño De Moda y Patronaje</option>
                                <option>Diseño Grafico</option>
                                <option>Gestion Social Y Salud Comunitaria</option>
                                <option>Ingeniería De Sistemas</option>
                                <option>Ingeniería Electrónica</option>
                                <option>Mercadeo & Publicidad</option>
                                <option>Negocios Internacionales</option>
                                <option>Ingeniería Industrial</option>
                            </select>
                        </div>



                        <div class="mb-3">
                            <label for="tipoPractica" class="form-label">Nivel de práctica a realizar</label>
                            <select id="tipoPractica" name="TipoPractica" class="form-select"
                                [(ngModel)]="formData.TipoPractica">
                                <option>Práctica 1 - nivel técnico</option>
                                <option>Práctica 2 - nivel tecnológico</option>
                                <option>Práctica 3 - nivel profesional</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fechaNacimiento">Fecha de nacimiento del estudiante</label>
                            <input id="fechaNacimiento" name="FechaNacimiento" type="date" class="form-control"
                                [(ngModel)]="formData.FechaNacimiento">
                        </div>
                        <div class="mb-3">
                            <label for="epsEstudiante" class="form-label">EPS del estudiante</label>
                            <select name="EpsEstudiante" class="form-control" id="epsEstudiante"
                                [(ngModel)]="formData.EpsEstudiante">
                                <option>1-ALIANSALUD E.P.S</option>
                                <option>2-SALUD TOTAL E.P.S</option>
                                <option>3-CAFESALUD E.P.S.</option>
                                <option>4-BONSALUD E.P.S</option>
                                <option>5-E.P.S SANITAS</option>
                                <option>6-I.S.S</option>
                                <option>7-UNIMEC E.P.S</option>
                                <option>8-COMPENSAR E.P.S</option>
                                <option>9-E.P.S COMFENALCO ANTIOQUIA</option>
                                <option>10-E.P.S SURA</option>
                                <option>11-COLSEGUROS E.P.S</option>
                                <option>12-COMFENALCO VALLE E.P.S</option>
                                <option>13-SALUDCOOP E.P.S</option>
                                <option>14-HUMANA VIVIR</option>
                                <option>15-SALUD COLPATRIA</option>
                                <option>16-COOMEVA E.P.S</option>
                                <option>17-FAMISANAR LTDA (CAFAM-CO)</option>
                                <option>18-EPS S.O.S SER OCCIDENTAL SALUD</option>
                                <option>19-E.P.S RISARALDA LTDA</option>
                                <option>20-CAPRECOM E.P.S</option>
                                <option>21-CORPORANONIMAS E.P.S</option>
                                <option>22-E.P.S CONVIDA</option>
                                <option>23-CRUZ BLANCA E.P.S S.A</option>
                                <option>24-COMFAMILIAR GUAJIRA</option>
                                <option>25-CAPRESOCA E.P.S</option>
                                <option>26-SOLSALUD E.P.S</option>
                                <option>27-BARRANQUILLA SANA E.P.S</option>
                                <option>28-CALI SALUD E.P.S</option>
                                <option>29-E.P.S CALDAS</option>
                                <option>30-E.P.S CONDOR</option>
                                <option>31-SELVASALUD S.A E.P.S</option>
                                <option>32-COMFENALCO ARMENIA</option>
                                <option>33-SALUDVIDA E.P.S.</option>
                                <option>34-E.P.S. SALUD COLOMBIA</option>
                                <option>35-RED SALUD ATENCION HUMANA EPS</option>
                                <option>37-NUEVA EPS</option>
                                <option>38-MULTIMEDICAS EPS SALUD</option>
                                <option>39-GOLDEN GROUP S.A. EPS</option>
                                <option>42-UNISALUD</option>
                                <option>53-COMFACUNDI</option>
                                <option>62-ASMET SALUD EPS</option>
                                <option>69-CAPITAL SALUD</option>
                                <option>73-EMCOSALUD</option>
                                <option>76-AMBUQ</option>
                                <option>91-ECOOPSOS</option>
                                <option>98-FOSIGA</option>
                                <option>99-SIN EPS</option>
                                <option>106-PIJAOS SALUD E.P.S</option>
                                <option>118-EMSSANAR</option>
                                <option>119-POLICIA NACIONAL</option>
                                <option>120-COOSALUD E.S.S.</option>
                                <option>121-EMDISALUD ESS</option>
                                <option>122-CAPITAL SALUD EPS S.A.S.</option>
                                <option>123-ENTIDAD PROMOTORA DE SALUD "P"</option>
                                <option>124-EPS MALLAMAS EPSI</option>
                                <option>125-EPS ANAS WAYUU</option>
                                <option>126-ASOCIACION INDIGENA DEL CAUCA</option>
                                <option>127-MANEXKA</option>
                                <option>128-DUSAKAWI</option>
                                <option>129-CAPRESOCA EPS</option>
                                <option>130-CONVIDA</option>
                                <option>133-COMPARTA E.P.S</option>
                                <option>207-ASOC. MUTUAL SER EMPRESA SOLID</option>
                                <option>208-COMFACOR</option>
                                <option>209-FERROCARILES</option>
                                <option>210-CAJACOPI</option>
                                <option>211-COMFASUCRE</option>
                                <option>212-SAVIASALUD</option>
                                <option>213-COMFAGUAJIRA</option>
                                <option>214-FONDO PRESTAC SOC MAGISTERIO</option>
                                <option>215-COMFABOY</option>
                                <option>216-COMFACHOCO</option>
                                <option>217-EMPRESAS PUBLICAS DE MEDELLIN</option>
                                <option>218-DIR GRAL DE SANIDAD MILITAR</option>
                                <option>219-COMFAORIENTE</option>
                                <option>220-MEDIMAS EPS</option>
                                <option>221-SUSALUD EPS</option>
                                <option>222-DUSAKAWI EPS</option>
                                <option>223-FUNDACIÓN SALUD MIA EPS</option>
                                <option>224-EMPRESAS PÚBLICAS DE MEDELLÍNO</option>
                                <option>225-FONDO DE FERROCARRILES NACION</option>
                                <option>226-A.I.C.</option>
                                <option>227-FOSYGA RÉGIMEN DE EXCEPCIÓN</option>
                                <option>228-FOSYGA RESIDENTE EXTERIOR O RO</option>
                                <option>229-UNIVERSIDAD DEL ATLÁNTICO</option>
                                <option>230-UNIVERSIDAD INDUSTRIAL DE SANR</option>
                                <option>231-UNIVERSIDAD DEL VALLE</option>
                                <option>232-UNIVERSIDAD NACIONAL DE COLOMA</option>
                                <option>233-UNIVERSIDAD DEL CAUCA</option>
                                <option>234-UNIVERSIDAD DE ANTIOQUIA</option>
                                <option>235-UNIVERSIDAD DE CÓRDOBA</option>
                                <option>236-UNIVERSIDAD PEDAGÓGICA - UPTC</option>
                                <option>237-MUTUAL SER</option>
                                <option>238-EMSSANAR</option>
                                <option>239-COOSALUD</option>
                                <option>240-COMFAMILIAR HUILA</option>
                                <option>241-COMFAMILIAR DE NARIÑO</option>
                                <option>242-SAVIA SALUD</option>
                                <option>243-COMFAMILIAR BOLIVAR</option>
                                <option>244-COSMITET</option>
                                <option>245-COMFANDI</option>
                                <option>246-SUMIMEDICAL</option>
                                <option>247-ECOPETROL</option>
                                <option>248-FAMAC</option>
                                <option>249-FUNDACION SALUD MIA EPS</option>
                                <option>250-MEDISALUD</option>
                                <option>251-FUERZAS MILITARES</option>
                                <option>252-UNION TEMPORAL TOLIHUILA</option>
                                <option>253-UT SERVISALUD SAN JOSE</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="documentoEPSFile" class="form-label">Cargar certificado de afiliación a EPS (Con
                                fecha de expedición no mayor a 30 días, no se acepta carnet de EPS)</label>
                            <input class="form-control" name="DocumentoEPSFile" type="file" id="documentoEPSFile"
                                accept=".pdf" (change)="onFileChange($event)">
                        </div>

                        <div class="mb-3">
                            <label for="municipio">Municipio, Busque y Seleccione la opcion que mas coincida</label>
                            <input class="form-control" id="municipio" type="text" 
                                (input)="buscar()" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}" />
                            <select class="form-control" [(ngModel)]="formData.seleccion"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let item of coincidencias" [value]="item">{{item}}</option>
                            </select>
                        </div>

                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="numeroTelEstudiante">Número telefónico del estudiante</label>
                            <input type="text" name="NumeroTelEstudiante" id="numeroTelEstudiante"
                                class="form-control" [(ngModel)]="formData.NumeroTelEstudiante">
                        </div>
                        <div class="mb-3">
                            <label for="correoInstitucional">Correo electrónico del estudiante institucional
                                (@cun.edu.co)
                            </label>
                            <input type="email" name="CorreoInstitucional" id="correoInstitucional" class="form-control"
                                [(ngModel)]="formData.CorreoInstitucional">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="nombreEmpresaPracticas">Nombre de la empresa donde el estudiante va a
                                desarrollar la práctica</label>
                            <input type="text" name="NombreEmpresaPracticas" id="nombreEmpresaPracticas"
                                class="form-control" [(ngModel)]="formData.NombreEmpresaPracticas">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="nitEmpresaPracticas">Nit de la empresa donde el estudiante va a desarrollar la
                                práctica</label>
                            <input type="number" name="NitEmpresaPracticas" id="nitEmpresaPracticas"
                                class="form-control" [(ngModel)]="formData.NitEmpresaPracticas">
                        </div>
                        <div
                            *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'">
                            <label for="riesgoEstudiante">Nivel de Riesgo que tendrá el estudiante durante su
                                práctica</label>
                            <select id="riesgoEstudiante" name="RiesgoEstudiante" class="form-control"
                                [(ngModel)]="formData.RiesgoEstudiante">
                                <option>1 - 0.00522</option>
                                <option>2 - 0.01044</option>
                                <option>3 - 0.02436</option>
                                <option>4 - 0.0435</option>
                                <option>5 - 0.0696</option>
                            </select>
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="nombrePersonaAcargoPractica">Nombre de la persona que estará a cargo de proceso
                                de la práctica del estudiante en la empresa</label>
                            <input type="text" name="NombrePersonaAcargoPractica" class="form-control"
                                id="nombrePersonaAcargoPractica" [(ngModel)]="formData.NombrePersonaAcargoPractica">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="telefonoPersonasAcargoPractica">Teléfono de la persona que estará a cargo de
                                proceso de la práctica del estudiante en la empresa</label>
                            <input type="number" name="TelefonoPersonasAcargoPractica" class="form-control"
                                id="telefonoPersonasAcargoPractica" [(ngModel)]="formData.TelefonoPersonasAcargo">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="emailPersonaAcargoPractica">Correo de la persona que estará a cargo de proceso
                                de la práctica del estudiante en la empresa</label>
                            <input type="email" name="EmailPersonaAcargoPractica" class="form-control"
                                id="emailPersonaAcargoPractica" [(ngModel)]="formData.EmailPersonaAcargoPractica">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="fechaInicioPractica">Fecha de inicio de la práctica</label>
                            <input type="datetime-local" [min]="minDate"  name="FechaInicioPractica" class="form-control" id="fechaInicioPractica"
                                [(ngModel)]="formData.FechaInicioPractica">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="fechaTerminacionPractica">Fecha de terminación de la práctica</label>
                            <input type="datetime-local" [min]="maxDate" name="FechaTerminacionPractica" class="form-control"
                                id="fechaTerminacionPractica" [(ngModel)]="formData.FechaTerminacionPractica">
                        </div>
                        <div *ngIf="formData.ModalidadPractica !== 'Cunbre emprendimiento consolidado' && formData.ModalidadPractica !== 'Cunbre emprendimiento naciente'"
                            class="mb-3">
                            <label for="actaInicioPractica">En este espacio podrá subir el Acta de Inicio (Solamente en
                                formato PDF, el documento debe tener la firma de la empresa y del estudiante)</label>
                            <input type="file" class="form-control" id="actaInicioPractica" name="ActaInicioPractica"
                                accept=".pdf" (change)="onFileChange($event)">
                        </div>
                        <div class="mb-3">
                            <label for="regional">Regional a la que pertenece el estudiante</label>
                            <select id="regional" name="Regional" class="form-control" [(ngModel)]="formData.Regional">
                                <option>Regional Bogotá</option>
                                <option>Regional Caquetá</option>
                                <option>Regional Casanare</option>
                                <option>Regional Córdoba</option>
                                <option>Regional Costa Caribe</option>
                                <option>Regional Cundinamarca</option>
                                <option>Regional Huila</option>
                                <option>Regional Magdalena</option>
                                <option>Regional Meta</option>
                                <option>Regional Nariño</option>
                                <option>Regional Norte De Santander</option>
                                <option>Regional Quindio</option>
                                <option>Regional Risaralda</option>
                                <option>Regional Sucre</option>
                                <option>Regional Tolima</option>
                                <option>Regional Valle Del Cauca</option>
                                <option>Virtual</option>
                            </select>
                        </div>



                        <strong>¡IMPORTANTE!</strong>
                        <p>Luego de haber solicitado la afiliación, desde el área de prácticas se notificará al
                            estudiante a su correo institucional @cun.edu.co que su solicitud fue
                            <strong>APROBADA</strong> o <strong>DEVUELTA.</strong></p>
                        <p>Si la solicitud fue <strong>APROBADA</strong>, pasados tres días hábiles desde el área de
                            prácticas se enviara el certificado de afiliación de no recibir el certificado el estudiante
                            debe poner un caso a través de CAMI TICKET: <a
                                href="https://desk.zoho.com/portal/servicioscun/es/home.">https://desk.zoho.com/portal/servicioscun/es/home.</a>
                        </p>
                        <strong>El haber diligenciado este formulario no garantiza la afiliación a ARL</strong>
                        <br><br>
                        <button (click)="submitForm()" type="submit" class="btn btn-success">Siguiente</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>